// -----------------------------------------------------------------------------
// MY PAGE マイページ
// -----------------------------------------------------------------------------

/**
 * マイページのサイドメニューのスタイル。 `.mypage__aside--*` でスタイルを追加してください。
 * class.
 */
.mypage__aside {
  width: 330px;
}

/**
 * マイページのメインdivのスタイル。 `.mypage__main--*` でスタイルを追加してください。
 * class.
 */
.mypage__main {
  @include media(">=large") {
    width: calc(100% - 330px);
  }
}

/**
 * テーブルの調整
 *
 */
.vertical-middle {
  vertical-align: middle;
}
.vertical-top {
  vertical-align: top;
}
.text-left {
  text-align: left;
}

/**
 * 横幅
 *
 */
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}

.nowrap{
  white-space: nowrap;
}

/**
 * モーダル
 *
 */
#overlay{
  z-index:1;

  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

#content{
  z-index:2;
  width:50%;
  padding: 1em;
  background:#fff;
}

// ぼかし
.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}

// 警告
.alert-danger{
    color:red;
}

// ソート用矢印
.asc::after {
  content: "↑";
  color: blue;
  font-weight: 900;
}

.desc::after {
  content: "↓";
  color: blue;
  font-weight: 900;
}

.asc {
  background-color: #bcf3f5;
}

.desc {
  background-color: #bcf3f5;
}

.noside_main{
    width:100% !important;
}

.mypage__main.company {
  .app-password-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .showpass-btn-wrap {
      width: 30px;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
    }
  }
}