// -----------------------------------------------------------------------------
// MY PAGE マイページ
// -----------------------------------------------------------------------------

/**
 * マイページのサイドメニューのスタイル。 `.mypage__aside--*` でスタイルを追加してください。
 * class.
 */
.mypage__aside {
  width: 330px;
}

/**
 * マイページのメインdivのスタイル。 `.mypage__main--*` でスタイルを追加してください。
 * class.
 */
.mypage__main {
  @include media(">=large") {
    width: calc(100% - 330px);
  }
}

/**
 * テーブルのTextareaの調整
 * 
 */
.vertical-middle {
  vertical-align: middle;
}
.vertical-top {
  vertical-align: top;
}

/**
 * 横幅
 * 
 */
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
