/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/main.css
/public/fonts/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
./*/.DS_Store
.DS_Store
public/mix-manifest.json
