// -----------------------------------------------------------------------------
// CARD カード
// -----------------------------------------------------------------------------

/**
 * カードの基本スタイル。 `.card--*` でスタイルを追加してください。
 * class.
 */

.card {
    background-color: transparent;
    margin-bottom: 3rem;
    padding:       0 16px;
}
