// -----------------------------------------------------------------------------
// LIST リスト
// -----------------------------------------------------------------------------

/**
 * リストの基本スタイル。 `.list--*` でスタイルを追加してください。
 * class.
 */

.list {
    list-style: none;
    padding-left: 0;
}


/**
* 水平リスト。`.list`の延長
*/

.list--inlined {

    li {
        display: inline-block;

        &:first-child {
            padding-left: 0;
        }
    }
}
