// -----------------------------------------------------------------------------
// LOGO ロゴ
// -----------------------------------------------------------------------------

.logo {
    letter-spacing: $kerning-logo;
    line-height: 1.9em;
}


.logo__font-main { font-family: AvantGarde-Demi; }


.logo__font-sub  { font-family: ITC Avant Garde Gothic Book; }
