.discription {
    font-size: var(--sixteen-px);
}

/* .common-font {
    text-align: left;
    font-size: var(--sixteen-px);
} */

/* 直線 */
.width-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #707070;
    border: 0;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc((800/ 1920) * 100vw);
    background: var(--white);
    border: solid calc((20 / 1920) * 100vw) #EEEEEE;
    margin: auto;
    box-sizing: border-box;
    padding: calc((35 / 1920) * 100vw) calc((30.5 / 1920) * 100vw);
}

.item-heading {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
}
.item-heading img {
    display: flex;
    width: calc((20 / 1920) * 100vw);
    margin-right: calc((10 / 1920) * 100vw);
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.item-heading-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 calc((16 / 1920) * 100vw) 0;
}

.item-heading-title {
    display: flex;
    align-self: center;
    color: var(--darkgray);
    font-size: var(--eighteen-px);
    font-weight: bold;
}

.item-heading-remark {
    display: block;
    align-self: flex-end;
    font-size: var(--twelve-px);
    white-space: nowrap;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc((10 / 1920) * 100vw);
}

.item {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    padding: calc((10 / 1920) * 100vw) 0;
}
.item-title {
    display: flex;
    width: 25%;
    margin-right: calc((10 / 1920) * 100vw);
    font-size: var(--sixteen-px);
    font-weight: bold;
    margin: auto;
}

.item-content {
    display: flex;
    width: 75%;
    align-self: center;
    font-size: var(--sixteen-px);
}

/* 有効期限 */
.period {
    display: flex;
    align-self: center;
    font-size: var(--sixteen-px);
    width: calc((35 / 1920) * 100vw);
}
.slash {
    width: auto;
    margin: 0 calc((5 / 1920) * 100vw);
}


/* 同意チェックコンテナ */
.agree-check-container {
    display: flex;
    flex-direction: row;
    margin: calc((40 / 1920) * 100vw) auto calc((37 / 1920) * 100vw) auto;
    justify-content: center;
}


/* チェックボタン */
input[type=checkbox] {
    display: none;
}
.checkbox {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: calc((5 / 1920) * 100vw) calc((30 / 1920) * 100vw);
    position: relative;
    width: auto;
    font-size: var(--sixteen-px);
}
.checkbox::before {
    border: 1px solid var(--lightgray);
    content: '';
    display: block;
    width: calc((18 / 1920) * 100vw);
    height: calc((18 / 1920) * 100vw);
    left: calc((5 / 1920) * 100vw);
    margin-top: calc((-8 / 1920) * 100vw);
    position: absolute;
    top: 50%;
}
.checkbox::after {
    border-right: calc((3 / 1920) * 100vw) solid var(--blue);
    border-bottom: calc((3 / 1920) * 100vw) solid var(--blue);
    content: '';
    display: block;
    width: calc((5 / 1920) * 100vw);
    height: calc((11 / 1920) * 100vw);
    margin-top: calc((-6 / 1920) * 100vw);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc((11 / 1920) * 100vw);
    transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
}

/* 同意テキスト */
.agree-text {
    font-size: var(--sixteen-px);
}

input[type="text"], input[type="number"]:read-only {
    align-self: center;
    width: 100%;
    font-size: var(--sixteen-px);
    color: var(--darkgray);
    border: 0;
    outline: none;
    padding: 0;
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    flex-direction: row;
    align-self: center;

    margin: auto;

    justify-content: center;
}

/* 内容修正ボタン */
.edit {
    align-self: center;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: #A2A2A2;
    width: calc((154 / 1920) * 100vw);
    height: calc((64 / 1920) * 100vw);
    font-size: var(--sixteen-px);
    font-weight: bold;
    color: var(--white);
    box-sizing: border-box;
    border: none;  /* 枠線を消す */
    outline: none;

    margin-right: calc((30 / 1920) * 100vw);
}

/* 登録ボタン */
input[type="submit"] {
    appearance: none;
    border: none;
    border-radius: 0;
    outline: none;

    width: calc((188 / 1920) * 100vw);
    height: calc((64 / 1920) * 100vw);
    color: var(--white);
    text-align: center;
    font-size: var(--sixteen-px);
    font-weight: bold;
    background: var(--blue);
}

