/*
* ヘッダー
*
*/

/** ヘッダーコンテナ */
.header {
    background: white;
    display: flex;
    padding: 0 calc((140 / 1920) * 100vw);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: calc((84 / 1920) * 100vw);
    box-sizing: border-box;
    border-bottom: solid 1px var(--lightgray);
    /* これがないとコンテンツ内の一部が重なって表示されてしまう */
    /* 優先度一番高めで */
    z-index: 10;
}

/** ヘッダータイトル */
.header-title-container {
    display: flex;
    flex-direction: row;
}
.header-title-container a {
    display: flex;
    flex-direction: row;
    color: var(--gray);
    text-decoration: none;
}

/** タイトル */
.header-title {
    display: flex;
    /* 画像の高さ(bottom揃えにするため必要) */
    height: calc((36 / 1920) * 100vw);
    font-size: var(--twentyeight-px);
    margin-left: calc((15 / 1920) * 100vw);
    align-self: center;
    align-items: flex-end;
}

/** サブタイトル */
.header-subtitle {
    display: flex;
    font-size: var(--fourteen-px);
    margin-left: calc((35 / 1920) * 100vw);
    align-self: center;
    color: var(--gray);
}

/** ヘッダーメニュー */
.header-menu-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.login {
    align-self: center;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: var(--blue);
    font-size: var(--sixteen-px);
    font-weight: 500;
    margin-right: calc(var(--base-mergin) * 3);
}

.sign-up {
    align-self: center;
    text-align: center;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    background: var(--blue);
    width: calc((150 / 1920) * 100vw);
    height: calc((52 / 1920) * 100vw);
    font-size: var(--fourteen-px);
    font-weight: 500;
    letter-spacing: var(--base-letterspace);
    box-sizing: border-box;
}
.sign-up-text {
    position: absolute;
    align-self: center;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: var(--white);
}
.sign-up a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}


/*
* フッター
*
*/
/** フッター */
.footer {
    display: block;
    padding: calc((73 / 1920) * 100vw) calc((410 / 1920) * 100vw);
    background: var(--darkgray);
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

/** ツールについて */
.about-tool {
    display: flex;
    width: 100%;
    padding-bottom: calc((73 / 1920) * 100vw);
    justify-content: space-between;
}

/** フッタータイトル */
.footer-title-contaner {
    display: flex;
    align-self: center;
    box-sizing: border-box;
    flex-direction: column;
}

/** タイトル */
.footer-title {
    display: flex;
    font-family: ITC Avant Garde Gothic Book;
    font-size: var(--thirtytwo-px);
    color: var(--white);
    margin-left: var(--base-mergin);
}

/** サブタイトル */
.footer-subtitle {
    display: flex;
    font-family: ITC Avant Garde Gothic Book;
    font-size: var(--fourteen-px);
    color: var(--white);
    margin-top: var(--base-mergin);
    letter-spacing: var(--base-letterspace);
}


/** フッターメニュー */
.footer-menu-contaner {
    display: flex;
    align-self: center;
    flex-direction: row;
}

/** リンクテキスト */
.footer-link-text {
    display: flex;
    font-size: var(--fourteen-px);
    color: var(--white);
    margin-left: calc(var(--base-mergin) * 3);
    text-decoration: none;
}



/** 運営詳細 */
.about-operating-company {
    text-align: left;
    border-top: solid 1px #707070;
    padding-top: var(--fourteen-px);
    color: var(--white);
}
.about-operating-company .company-name {
    font-weight: bold;
}
