.items-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc((390/ 1920) * 100vw);
    background: var(--white);
    border: solid calc((20 / 1920) * 100vw) #EEEEEE;
    margin: calc((56 / 1920) * 100vw) auto 0 auto;
    box-sizing: border-box;
    padding: calc((35 / 1920) * 100vw) calc((30.5 / 1920) * 100vw);
}

.item-heading {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
}
.item-heading img {
    display: flex;
    width: calc((20 / 1920) * 100vw);
    margin-right: calc((10 / 1920) * 100vw);
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.item-heading-title {
    display: flex;
    align-self: center;
    color: var(--darkgray);
    font-size: var(--sixteen-px);
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc((10 / 1920) * 100vw);
}

.item {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    padding: calc((10 / 1920) * 100vw) 0;
}
.item-title {
    display: flex;
    width: 20%;
    margin-right: calc((10 / 1920) * 100vw);
    font-size: var(--sixteen-px);
    font-weight: bold;
    margin: auto;
}
.title-long {
    width: 25%;
}

.item-content {
    display: flex;
    width: 80%;
    align-self: center;
}
.content-password {
    width: 75%;
}

.item-content-text {
    font-size: var(--sixteen-px);
}

/* メール入力欄 */
input[type="email"] {
    align-self: center;
    width: 100%;
    height: calc((40 / 1920) * 100vw);
    font-size: var(--sixteen-px);
    border-radius: calc((5 / 1920) * 100vw);
    border: 1px solid #D5D5D5;
    outline: none;

    margin-top: calc((9 / 1920) * 100vw);
}

/* 送信ボタン */
input[type="submit"] {
    appearance: none;
    margin: calc((30 / 1920) * 100vw) auto auto auto;
    border: none;
    border-radius: 0;
    outline: none;

    width: calc((166 / 1920) * 100vw);
    height: calc((52 / 1920) * 100vw);
    color: var(--white);
    text-align: center;
    font-size: var(--fourteen-px);
    font-weight: bold;
    background: var(--blue);
}