// -----------------------------------------------------------------------------
// FOOTER フッター
// -----------------------------------------------------------------------------

/**
 * フッターの基本スタイル。 `.footer--*` でスタイルを追加してください。
 * class.
 */

.footer {
    background-color:   map-get($footer-colors, 'bg');
    color:              map-get($footer-colors, 'color');
    font-size:    14px;
    text-align:   center;
    position:     relative;
    padding:      56px 30px 30px;
    margin-top:   auto;
    width:        100%;

    @include media('>=medium') {
        text-align: left;
        padding-bottom: 56px;
    }
}

    .footer__container {
        padding-bottom: 56px;

        @include media('>=medium') {
            display: flex;
            justify-content: space-between;
        }
    }

        .footer__title {
            align-self:     center;
            display:        flex;
            flex-direction: column;
        }

            .footer__title-main {
                font-size:   32px;
                margin-left: 13px;
            }

    .footer__copyright {
        font-size:   12px;
        padding-top: 12px;
        text-align: left;

        @include media('>=medium') {
            border-top: 1px solid map-get($footer-colors, 'border');
            font-size:   14px;
        }
    }
